
input,select,button{
outline-color:rgba(0, 128, 256, 0.5);
-webkit-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.1);
}


select{
-webkit-appearance:button;
border-radius:3px;
!background:lightgray;
background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAICAYAAADJEc7MAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyBpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBXaW5kb3dzIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjA5MDMwMzEzMUVBRTExRTA5NUM0QzJENTZCN0I5Mjk1IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjA5MDMwMzE0MUVBRTExRTA5NUM0QzJENTZCN0I5Mjk1Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MDkwMzAzMTExRUFFMTFFMDk1QzRDMkQ1NkI3QjkyOTUiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MDkwMzAzMTIxRUFFMTFFMDk1QzRDMkQ1NkI3QjkyOTUiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5pY8xsAAAAbUlEQVR42mL8//8/AzmAEYijgJgHj5ovQMOXYYgmAgEzM/M3IPM/OgaJg+RBrkLHIEJhwYIFC9nY2H4iawLxQeIgeVwaMTQT0oSsEa6Zj4/vCyFN6BrBmt++fdtESBMIM2KJDlYg/k0oOgACDABJirkKokz/DAAAAABJRU5ErkJggg=="), -webkit-gradient(linear, left top, left bottom, from(white), to(#f2f2f2));

background-position: center right;
background-repeat: no-repeat;
border:1px solid #dbdbdb;
padding-right:13px;
padding-left:5px;
-webkit-transition:all .1s ease-in-out;
cursor:pointer;
}

select:not(:disabled):active{
border:1px inset #dbdbdb;
}

select>option{
background:white;
}

select:not(:disabled):hover{
border-color:gray;
}

input[type="checkbox"],input[type="radio"]{
-webkit-transition:all .1s ease-in-out;
-webkit-appearance:none;
border-radius:2px;
border:1px solid #dbdbdb;
width:16px;
height:16px;
!background:gray;
cursor:pointer;
margin:0 1px;
background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#f2f2f2));
vertical-align:bottom;
}

input[type="radio"]{
border-radius:7.5px;
}

input[type="checkbox"]:checked{
!background:lightgray;
background-image: url('check.png'), -webkit-gradient(linear, left top, left bottom, from(white), to(#f2f2f2));
}

input[type="radio"]:checked{
background-position:0px 0px;
background-image: url('radio2.png'), -webkit-gradient(linear, left top, left bottom, from(white), to(#f2f2f2));
}

input[type="checkbox"]:not(:disabled):hover,input[type="radio"]:hover{
border:1px solid gray;
}

input[type="text"],input[type="number"],input:not([type]){
!background:lightgray;
border-radius:2px;
background: -webkit-gradient(linear, left bottom, left top, from(white), to(#f2f2f2));
border:1px solid #dbdbdb;
!-webkit-transition:all .2s ease-in-out;
}

input[type="text"]:hover,input[type="number"]:hover,input:not([type]):hover{
background:white;
}

input[type="text"]:focus,input[type="number"]:focus,input:not([type]):focus{
background:white;
}

button,input[type=button]{
cursor:pointer;
color:#111111;
opacity:1;
text-shadow:0px 1px 1px white,0px -1px 1px #DEDEDE;
border:1px solid #dbdbdb;
border-radius:2px;
!background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f2f2f2));
background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e2e2e2));
-webkit-transition:all .1s ease-in-out;
box-shadow:inset 0px 0px 0px gray, inset 0px 0px 1px lightgray, 0px 1px 3px rgba(0, 0, 0, 0.1);
}

button:not(:disabled):active,input[type=button]:not(:disabled):active{
!border:1px inset #dbdbdb;
box-shadow:inset 0px 1px 3px gray, inset 0px 0px 1px lightgray, 0px 1px 3px rgba(0, 0, 0, 0.1);
}
button:not(:disabled):hover,input[type=button]:not(:disabled):hover{
opacity:.8;
}


/*
input[type="range"]{
-webkit-appearance: none;
width:300px;
height:1.25em;
background: -webkit-gradient(linear, left bottom, left top, from(white), to(#f2f2f2));
border:1px inset lightblue;
border-radius:3px;
-webkit-transition:all .2s ease-in-out;
}
*/
input[type="range"]{
	-webkit-appearance: none;
	width:300px;
	height:1.25em;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgb(244, 244, 244)),
		color-stop(0.66, rgb(207,207,207)),
		color-stop(0.33, rgb(244, 244, 244)),
		color-stop(0, rgb(244, 244, 244)),
		color-stop(0.66, rgb(244, 244, 244)),
		color-stop(0.33, rgb(207,207,207))
	);
	-webkit-transition:all .2s ease-in-out;
	-webkit-box-shadow: inset 1px 2px 5px #555;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance:none;
	position: relative;
	z-index:1;
	width:10px;
	height:18px;
	border-radius:3px;
	background-color:#FFF;
	border: 1px solid gray;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
	cursor: ew-resize;
	opacity:.8;
	-webkit-transition:all .2s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover{
	opacity:1;
	-webkit-box-shadow:1px 1px 4px #888;
	border: 1px solid #000;
}

input[type="range"]:focus,input[type="range"]:hover{
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgb(244, 244, 244)),
		color-stop(0.66, rgb(158,158,158)),
		color-stop(0.33, rgb(244, 244, 244)),
		color-stop(0, rgb(244, 244, 244)),
		color-stop(0.66, rgb(244, 244, 244)),
		color-stop(0.33, rgb(158,158,158))
	);
}

input[type="range"]:focus::-webkit-slider-thumb{
	opacity:1;
	-webkit-box-shadow:1px 1px 4px #888;
}



input[type="checkbox"]:disabled,input[type="range"]:disabled{
background:rgb(235,235,228);
}
input[type="checkbox"]:checked:disabled,input[type="range"]:checked:disabled{
background: url('check.png'), rgb(235,235,228);
}

select:disabled{
background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAICAYAAADJEc7MAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyBpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBXaW5kb3dzIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjA5MDMwMzEzMUVBRTExRTA5NUM0QzJENTZCN0I5Mjk1IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjA5MDMwMzE0MUVBRTExRTA5NUM0QzJENTZCN0I5Mjk1Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MDkwMzAzMTExRUFFMTFFMDk1QzRDMkQ1NkI3QjkyOTUiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MDkwMzAzMTIxRUFFMTFFMDk1QzRDMkQ1NkI3QjkyOTUiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5pY8xsAAAAbUlEQVR42mL8//8/AzmAEYijgJgHj5ovQMOXYYgmAgEzM/M3IPM/OgaJg+RBrkLHIEJhwYIFC9nY2H4iawLxQeIgeVwaMTQT0oSsEa6Zj4/vCyFN6BrBmt++fdtESBMIM2KJDlYg/k0oOgACDABJirkKokz/DAAAAABJRU5ErkJggg=="), rgb(235,235,228);

background-position: center right;
background-repeat: no-repeat;
color:rgb(84,84,84)
}

input[type="button"]:disabled,button:disabled{
color:gray;
}

input:disabled,select:disabled,button:disabled{
cursor:not-allowed;
}

input[type=text]:disabled,input[type="number"]:disabled,input:not([type]):disabled{
background:rgb(235,235,228);
color:rgb(84,84,84)
}
