@charset "UTF-8";

@font-face {
  font-family: 'mic';
  src: url('/fonts/mic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes listening {
  from {
    box-shadow: 0px 0px 15px #EB311D;
  }

  to {
    box-shadow: 0px 0px 0px #EB311D;
  }
}

*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	-webkit-user-select: none;
}
body{
	font-family: 'Arial';
	background: rgb(233, 233, 233);
}
h1{
	margin:0px auto;
	text-align: center;
}
div.footer{
	text-align:center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 3;
	width: 100%;
	height: 60px;
	padding: 5px 0px;
	background: #111;
	box-shadow: 0px 0px 10px #555;
}
div.footer.speech > input#text{
	display: none;
}
div.footer.speech > a#switch:before{
	content: "Don't have a mic?";
}
div.footer.text > #speech{
	display: none;
}
div.footer.text > a#switch:before{
	content: "Got mic?";
}
#switch{
	position: absolute;
	bottom: 3px;
	left: 3px;
	color: white;
	cursor: pointer;
}
/*#speech{
	width: 40px;
	height:50px;
	font-size: 50px;
	border: 0px;
	background: lightyellow;
	outline: none;
	box-shadow: 0px 0px 0px transparent;
	border-radius: 3px;
	cursor: pointer;
}*/
#speech{
	width: 50px;
	height:50px;
	font-size: 50px;
	border: 0px;
	background: #FFF;
	outline: none;
	box-shadow: inset 0px 0px 0px transparent;
	border: 2px solid #EB311D;
	border-radius: 100%;
	cursor: pointer;
	-webkit-transition: background 0.1s ease-in, box-shadow 0.1s ease-in;
}
#speech::before{
	font-family: "mic";
	content: "\e800";
	font-size: 30px;
	display: block;
	padding: 9px 0px;
	color: #EB311D;
	-webkit-transition: padding 0.1s ease-in;
}
#speech:hover, #speech:focus{
	/*box-shadow: 0px 0px 7px #fcffad;*/
	background: #FCDBD8;
}
#speech:active{
	box-shadow: inset 0px 2px 5px #555;
}
#speech:active::before{
	padding: 11px 0px;
}
#speech.listening{
	background: #EB311D;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-name: listening;
	-webkit-animation-iteration-count: infinite;
}
#speech.listening::before{
	color: #FFF;
}
input#text{
	width: 350px;
	margin-top: 10px;
	font-size: 20px;
	padding: 2px 5px;
}
div#opt{
	padding: 8px;
}
.dialog{
	font-family: 'Lucida Grande', 'Lucida Sans', 'Droid Sans', sans-serif;
	font-size: 16px;
	width:75%;
	min-height:100px;
	clear:both;
	background:#EEE;
	word-wrap: break-word;
	padding: 5px;
	margin-bottom: 10px;
	position: relative;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #AAA;
	!overflow: hidden;
	-webkit-transform: rotate(15deg);
	-webkit-transition: -webkit-transform .3s ease-in;
	-webkit-transform-origin: 20% 0;
	-webkit-user-select: text;
}
.dialog.you{
	float:right;
	-webkit-transform: rotate(0deg);
}
.dialog.cp{
	float:left;
	-webkit-transform: rotate(0deg);
}
.dialog > iframe{
	border: 1px solid gray;
}